<h1> Don't sign in! </h1>

<form action='/users/signin' method='POST'>
  <label for='email'>
    Email:
    <input type='email' name='email' required/>
  </label>
  <label for='password'>
    Password:
    <input type='password' name='password' required/>
  </label>
  <input type='submit' value='Sign in'>
</form>
<!--
<%= @error_msg %> -->
